@import "../../../assets/styles/variables.scss";

* {
  font-size: 18px;
}

.navbar {
  padding-top: $large-margin;
  background-color: #162742;
}

.nav-item {
  padding-left: $large-padding;
  padding-right: $large-padding;
}

a {
  color: white;
}
