<div class="container">
    <span class="header">ABOUT US</span>
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#about-us-navbar" aria-controls="about-us-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div class="collapse navbar-collapse" id="about-us-navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Our mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
</div>