<div class="row">
    <div class="column left">
 
    </div>
    <div class="column right">
        <div class="text-container">
            <p>
                John and Claire Jacob started their photography business in 1998 shooting a few thousand kids their first year.  
                Now in their 25th year, ATX photographs more than 30,000 student athletes annually.
            </p>
            <p>
                We are steadfast in our commitment to remain as the leader in youth sports photography all over Central Texas 
                and our approach in doing so has always been the same.  Simply put, our team's #1 priority is to make 
                the customer happy.  We accomplish this by providing quality photography by our experienced and friendly ATX staff 
                that keeps the shoot running on schedule, is trained in the art of capturing a "natural" expression and believes 
                there is no substitute for exceptional customer service.
            </p>
            <p>
                Claire and I are personally involved in every detail of your picture day experience from building 
                the picture schedule through managing the image editing and order entry departments.  
            </p>
            <p>
                As the owner of ATX, it is my sincerest desire to provide lasting memories of your children as they grow and 
                mature while participating in team sports.  I am confident I do this better than anyone else in Central Texas.
            </p>
            <p>
                Please contact me at <a href="mailto:johnatxphotos@gmail.com">johnatxphotos@gmail.com</a> or
                (512) 250-2444
            </p>
        </div>
    </div>
</div>