<div class="slideshow-container">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="image-container">
            <div class="picsum-img-wrapper portrait">
              <img src="../../../assets/slideshow-photos/4ds_dsc_0550_2194.jpg" alt="individual_photo">
            </div>
            <div class="picsum-img-wrapper portrait">
              <img src="../../../assets/slideshow-photos/4ds_image-8_1282.jpg" alt="individual_photo">
            </div>
            <div class="picsum-img-wrapper portrait">
              <img src="../../../assets/slideshow-photos/4ds_dsc_0035_7343.jpg" alt="individual_photo">
            </div>
            <div class="picsum-img-wrapper portrait">
              <img src="../../../assets/slideshow-photos/4ds_dsc_0025_7725.jpg" alt="individual_photo">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="image-container">
            <div class="picsum-img-wrapper landscape">
              <img src="../../../assets/slideshow-photos/4ds_dsc_0048_1995.jpg" alt="Random second slide">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="image-container">
            <div class="picsum-img-wrapper landscape">
              <img src="../../../assets/slideshow-photos/4ds_dsc_0141_887.jpg" alt="Random third slide">
            </div>
          </div>
        </ng-template>
    </ngb-carousel>
</div>